{% extends 'base.html.twig' %}

{% block title %}Supermarket index{% endblock %}

{% block body %}
    <h1>Supermarket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supermarket in supermarkets %}
            <tr>
                <td>{{ supermarket.id }}</td>
                <td>{{ supermarket.name }}</td>
                <td>
                    <a href="{{ path('admin_assign_food_edges', {'id': supermarket.id}) }}">assign food</a>
                    {# <a href="{{ path('app_supermarket_edit', {'id': supermarket.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_supermarket_new') }}">Create new</a>
{% endblock %}
