{% extends 'base.html.twig' %}

{% block title %}Food Items{% endblock %}

{% block body %}
    <h1>All Our Food</h1>

    
    <a href="{{ path('app_food_item_new') }}" class="btn btn-primary btn-lg">
        New Food
    </a>
    <a href="{{ path('app_home') }}" class="btn btn-secondary btn-lg">
        Home
    </a>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Name</th>
                {# <th>actions</th> #} 
            </tr>
        </thead>
        <tbody>
        {% for food_item in food_items %}
            <tr>
                <td>{{ food_item.name }}</td>
                <td>
                    {# <a href="{{ path('app_food_item_show', {'id': food_item.id}) }}">show</a>
                    <a href="{{ path('app_food_item_edit', {'id': food_item.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
