{% extends 'base.html.twig' %}

{% block title %}New Shopping List{% endblock %}

{# {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/foodItem.js') }}"></script>
{% endblock %} #}

{% block body %}
<div class="container py-3">

    <h1 class="h4 mb-3">New shopping list</h1>

   {{ form_start(form) }}

		<div id="listItems" data-prototype="{{ form_widget(form.listItems.vars.prototype)|e('html_attr') }}">
			{% for itemForm in form.listItems %}
				<div class="list-item">
					{{ form_row(itemForm.foodItem) }}
					{{ form_row(itemForm.quantity) }}
					{{ form_row(itemForm.notes) }}
					<button type="button" class="remove-item">Remove</button>
				</div>
			{% endfor %}
            {% do form.listItems.setRendered %}
		</div>

		<button type="button" id="add-item">Add item</button>


		<div class="form-actions">
            <button type="submit" class="btn btn-success waves-effect waves-light"> <i class="fa fa-check"></i> Save</button>
            <a class="btn btn-inverse waves-effect waves-light" href="{{ path('app_home') }}">Cancel</a>
        </div>

		{{ form_end(form) }}


		<script>
			const container = document.getElementById('listItems');
            let index = {{ form.listItems|length }};


            document.getElementById('add-item').addEventListener('click', () => {
            const prototype = container.dataset.prototype.replace(/__name__/g, index);
            index++;


            const div = document.createElement('div');
            div.classList.add('list-item');
            div.innerHTML = prototype + '<button type="button" class="remove-item">Remove</button>';


            container.appendChild(div);
            });


            container.addEventListener('click', e => {
            if (e.target.classList.contains('remove-item')) {
            e.target.closest('.list-item').remove();
            }
            });
		</script>
	</div>

{% endblock %}